body {
	background-color: #D7D7D7;
	padding-top: 50px;
	height: 100%;
    min-height: 100%;
}
html { width: 100%; }

#map_canvas{
	width:100%;
}

#grtn:hover{
	text-decoration: none;
}

.evtnDiv{
	background-color: #808080;

}





