<!DOCTYPE html>
<html lang="es" ng-app="indexModule">
	<head>
		<meta charset ="utf8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

			<!-- angular, bootstrap... esos scripts de funcionamiento básico -->
		<script type="text/javascript" src="scripts/require.js" data-main="scripts/main"></script>
		<script type="text/javascript" src="scripts/thirds/angular/angular.js"></script>
		<script type="text/javascript" src="scripts/thirds/angular/angular-route.js"></script>
		<script type="text/javascript" src="scripts/thirds/angular/angular-resource.js"></script>
		<script type="text/javascript" src="scripts/thirds/angular-bootstrap/ui-bootstrap.js"></script>
		<script type="text/javascript" src="scripts/thirds/angular-bootstrap/ui-bootstrap-tpls.js"></script>
 
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.expkey=AIzaSyAjr_H9bq4BuXq1NwrQXM-RBKotMGPmXu8&sensor=false">
    </script>

    		<!--declaración de helpers -->
		<script type="text/javascript" src="scripts/modules/index.js"></script>
		

			<!--declaración de controladores -->
		<script type="text/javascript" src="scripts/modules/startModule.js"></script>
		<script type="text/javascript" src="scripts/modules/userRegisterModule.js"></script>
		<script type="text/javascript" src="scripts/modules/mapModule.js"></script>
		<script type="text/javascript" src="scripts/helpers/gps.js"></script>
		<script type="text/javascript" src="scripts/modules/menuModule.js"></script>
		<script type="text/javascript" src="scripts/modules/loginModule.js"></script>
		<script type="text/javascript" src="scripts/modules/doneLoginModule.js"></script>
		<script type="text/javascript" src="scripts/modules/topBarModule.js"></script>
		<script type="text/javascript" src="scripts/modules/salirModule.js"></script>
		<script type="text/javascript" src="scripts/modules/eventRegisterModule.js"></script>


		<!--Css para maquetado -->
		<link rel="stylesheet" type="text/css" href="scripts/thirds/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/base.css">

	
		
	</head>

	<body>
	
<div ng-view>Veamos si renderiza ...</div>
  


	</body>
</html>