<!DOCTYPE html>
	<html>
		<head>

		<script type="text/javascript" src="scripts/require.js" data-main="scripts/main"></script>
		<link rel="stylesheet" type="text/css" href="scripts/thirds/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/base.css">
		</head>

<body>
	<img src="/resources/images/ad.jpg" class="center-block">
	<div class="row">
	<div class="jumbotron">
		<h1 class="text-center">404 NOT FOUND!</h1>
		<p class="text-center">El recurso al cual trata de acceder no existe o ha sido desabilitado temporalmente!</p>
	</div>
	</div>

</body>

</html>