<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="topBarModule">
				<div class="container-fluid">
					<div class="navbar-header"> 
						<!--Logo-->
						<a class="navbar-brand" href="#">Brand</a>
						<!--toogle para resoluciones menores-->
						<button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target="#menuPrincipal">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						</div>
						<!--Menú en si ... collapsable en resoluciones menores-->
						
						<div class="collapse navbar-collapse " id="menuPrincipal">
						<ul class="nav navbar-nav navbar-left">
							<!--Visibles hasta M-->
							<li ng-repeat="item in menuStarter">
								<a href={{item.href}}>
								{{item.title}}</a>
							</li>
							
							<!---->
							</ul>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Buscar evento...">
								</div>
								
								<div class="btn-group">
								<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
									Categorias <span class="caret"></span></button>

									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Conciertos</a></li>
										<li><a href="#">Convenciones</a></li>
										<li><a href="#">Ventas</a></li>
										<li><a href="#">Restaurantes</a></li>
										<li><a href="#">Teatrales</a></li>
									
									</ul>
								</div>

								


							</form>
							<div class="nav" ng-controller="menuModule">

								<div class="navbar-right">

						   <p class={{greeting.class}}><a href={{greeting.href}}>
						   	{{greeting.title}} <span class="badge">{{greeting.notif}}</span>
						   </a></p>



                           	<button type="button" class="btn btn-info navbar-btn " ng-click="toMap()">
                           	
							<span class="glyphicon glyphicon-shopping-cart"></span>
							</button>
                           </div>
							</div>
							</div>

			
						
				</div>
			</nav>
			<!--Fin de menú -->
</div>
<div ng-controller="eventRegisterModule">
<div class="container-fluid">
<div class="row">
	<div class="col-lg-8 col-md-8">
		<div id="map_canvas" style="height: 500px;"></div>
	</div>

	<div class="col-lg-4 col-md-4">
	<div class="jumbotron">
				<h3>Clickee el Mapa sobre el lugar el cual registrará su evento</h3>
					
					<form role="form" action="http://localhost:8002/doneEvent" method="post">

					<label for="lat">Latitud</label>
					<input type="text" class="form-control" id="lat"name="lat" placeholder="Seleccione un punto sobre el mapa" ng-model="lat" readonly>

					<label for="lng">longitud</label>
					<input type="text" class="form-control" id="lng" name="lng" placeholder="Seleccione un punto sobre el mapa" ng-model="lng" readonly >

					<label for="evento">Evento</label>
					<input type="text" class="form-control" id="evento" name="evento" placeholder="Evento" ng-model="evento">


					<label for="company">Nombre de Compañía</label>
					<input type="text" class="form-control" id="company" name="company" placeholder="Compañía" ng-model="comp">


					<label for="hasPrice">Precio</label>
					<input type="text" class="form-control" id="hasPrice" name="price" placeholder="Precio del Producto" ng-model="precio">
					<br/>


					<button type="submit" class="btn btn-success" ng-click="guardar()">Guardar</button>
					<button type="buttton" class="btn btn-danger">Cancelar</button>


</form>
				</div>

			
		</div>



		</div>
	</div>
</div>

</div>

</div>

