			<div class="row">
			<div ng-controller="startModule">
  			<div style="height: 305px, width: 400px">
    		<carousel interval="myInterval">
      		<slide ng-repeat="slide in slides" active="slide.active">
        	<img ng-src="{{slide.image}}" style="margin:auto;">
        	<div class="carousel-caption">
          	<h4>Slide {{$index}}</h4>
          	<p>{{slide.text}}</p>
        	</div>
      		</slide>
    		</carousel>
  			</div>
			</div>

			</div>
  		
			

			<div class="row">
				<div class="jumbotron">
				<p><h1 class="text-center">Lugares, Eventos y Tickets</h1></p>
				</div>
			</div>





			<div class="row">
				<div class="col-lg-3"> 
				</div>

				<div class="col-lg-3">
					<h3 class="text-center">Lugares por Explorar</h3>
					<div class="col-lg-12">
						<p class="text-left">Si lo pensamos tres minutos, te darás cuenta que existen infinidad de lugares a los que jamás haz ido y que podrían encantarte. Date la oportunidad, utiliza el servicio "Sorprendme!"</p>
						<div class="btn-group">
 							 <button type="button" class="btn btn-info">Leer más...</button>
						</div>
					</div>
					
				</div>

				<div class="col-lg-3">
					<h3 class="text-center">Entérate de los Eventos</h3>
					<div class="col-lg-12">
						<p class="text-left">Pueda que conozcas el lugar, sabes como llegar al restaurante, conoces completamente el menú. Pero a lo mejor no sabías que
						por las noches el restaurante presenta nuevos artistas!</p>
						<div class="btn-group">
 							 <button type="button" class="btn btn-info">Leer más...</button>
						</div>
					</div>
					
					</div>


				</div>
				<div class="row">
				<div class="col-lg-3"> 
				</div>

				<div class="col-lg-3">
					<h3 class="text-center">Compra el ticket</h3>
					<div class="col-lg-12">
						<p class="text-left">Te ahorramos la tediosa y horrenda labor de ir al lugar del
							evento al que quieres asistir, Esperar en una cola estando
							parado por 15 minutos (en el mejor de los casos), solamente
							para escuchar "vendimos todos los tickets". ESO NO EXISTE ACA!</p>
							<div class="btn-group">
 							 <button type="button" class="btn btn-info">Leer más...</button>
						</div>
					</div>
					
				</div>

				<div class="col-lg-3">
					<h3 class="text-center">...Hablemos de negocios</h3>
					<div class="col-lg-12">
						<p class="text-left">Tienes una empresa? un local de alimentos? o un stage?
							Anda! usa este servicio para darte a conocer, es completamente gratuito!
							ve y agrega tus eventos con toda facilidad y nuestro respaldo!</p>
							<div class="btn-group">
 							 <button type="button" class="btn btn-info">Leer más...</button>
						</div>
					</div>
					
					</div>


				</div>


				<div class="col-lg-3">
				</div>

		

	